name: mac-macos15-intel
on: 
  workflow_dispatch:
defaults:
  run:
    shell: bash

jobs:
  build:
    runs-on: macos-15-intel
    steps:
    - uses: actions/checkout@v2
    - name: Setting the environment up.
      env:
        TS_KEY: ${{ secrets.TS_KEY }}
        VNC_USER_PASSWORD: ${{ secrets.VNC_USER_PASSWORD }}
        VNC_PASSWORD: ${{ secrets.VNC_PASSWORD }}
      run: source configure.sh "$VNC_USER_PASSWORD" "$VNC_PASSWORD" "$TS_KEY"
